body {
  color: #000;
  background-color: white;
  margin: 0;
  justify-content: center;
}

.card-container {
  text-align: center;
  padding: 20px;
}

.user-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  justify-content: center;
  padding: 0 20px;
}

.user-card {
  background-color: #cecece;
  padding: 20px;
  display: flex;
  align-items: center;
}

.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 15px;
}

.user-info {
  text-align: left;
}

.user-info h3, .user-info p {
  margin: 0;
  color: #000000;
}

.user-info p {
  margin-top: 5px;
}
